@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-family: "Inter", sans-serif;
  background-color: #f6f7fb;
  color: #0f172a;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
